<div class="text-center">
    <h1 class="display-4">Document Types</h1>
</div>

<nav class="navbar bg-body-tertiary container-fluid">
    <a asp-controller="DocumentTypes" asp-action="Create" class="btn btn-primary">Create</a>
    <form asp-controller="DocumentTypes" asp-action="Find" method="get" class="d-flex" role="search">
        <input class="form-control me-2" name="keywords" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Abbreviation
            </th>
            <th>
                Description
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var element in Model)
        {
            <tr>
                <td>
                    @element.Id
                </td>
                <td>
                    @element.Name
                </td>
                <td>
                    @element.Abbreviation
                </td>
                <td>
                    @element.Description
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@element.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@element.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@element.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
